In [1]:
import pandas as pd

In [2]:
historical_df = pd.read_csv('nba_updated_games.csv')

In [3]:
updated_df = pd.read_csv('updated_nba_boxscores.csv')

In [4]:
historical_df

,Unnamed: 0.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,total_opp,home_opp,season,date,won,Unnamed: 0,mp,mp.1,mp_opp,mp_opp.1
0,0,38.0,72.0,0.528,16.0,37.0,0.432,18.0,21.0,0.857,...,107,1,2023,2022-11-07,True,NaN,NaN,NaN,NaN,NaN
1,1,40.0,84.0,0.476,14.0,39.0,0.359,13.0,15.0,0.867,...,110,0,2023,2022-11-07,False,NaN,NaN,NaN,NaN,NaN
2,2,41.0,78.0,0.526,8.0,24.0,0.333,15.0,19.0,0.789,...,90,1,2023,2022-12-14,True,NaN,NaN,NaN,NaN,NaN
3,3,29.0,74.0,0.392,13.0,38.0,0.342,19.0,26.0,0.731,...,105,0,2023,2022-12-14,False,NaN,NaN,NaN,NaN,NaN
4,4,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,0.778,...,95,1,2016,2015-12-09,True,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22203,22203,46.0,96.0,0.479,19.0,44.0,0.432,10.0,11.0,0.909,...,114,0,2024,2024-03-01,True,13.0,240.0,240.0,240.0,240.0
22204,22204,40.0,95.0,0.421,10.0,32.0,0.313,12.0,18.0,0.667,...,129,1,2024,2024-03-01,False,14.0,240.0,240.0,240.0,240.0
22205,22205,48.0,86.0,0.558,15.0,32.0,0.469,18.0,26.0,0.692,...,102,0,2024,2024-03-01,True,15.0,240.0,240.0,240.0,240.0
22206,22206,33.0,83.0,0.398,18.0,41.0,0.439,26.0,30.0,0.867,...,100,1,2024,2024-03-01,True,16.0,240.0,240.0,240.0,240.0
22207,22207,33.0,89.0,0.371,10.0,36.0,0.278,24.0,28.0,0.857,...,110,0,2024,2024-03-01,False,17.0,240.0,240.0,240.0,240.0

In [5]:
historical_df = historical_df.drop(['mp', 'mp.1', 'Unnamed: 0.1', 'mp_opp', 'mp_opp.1' ], axis=1)

In [6]:
historical_df

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,Unnamed: 0
0,38.0,72.0,0.528,16.0,37.0,0.432,18.0,21.0,0.857,4.0,...,26.8,155.0,123.0,MIA,107,1,2023,2022-11-07,True,NaN
1,40.0,84.0,0.476,14.0,39.0,0.359,13.0,15.0,0.867,5.0,...,37.3,160.0,121.0,POR,110,0,2023,2022-11-07,False,NaN
2,41.0,78.0,0.526,8.0,24.0,0.333,15.0,19.0,0.789,5.0,...,41.1,250.0,125.0,DAL,90,1,2023,2022-12-14,True,NaN
3,29.0,74.0,0.392,13.0,38.0,0.342,19.0,26.0,0.731,6.0,...,33.0,183.0,110.0,CLE,105,0,2023,2022-12-14,False,NaN
4,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,0.778,6.0,...,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22203,46.0,96.0,0.479,19.0,44.0,0.432,10.0,11.0,0.909,15.0,...,30.4,183.0,146.0,CHO,114,0,2024,2024-03-01,True,13.0
22204,40.0,95.0,0.421,10.0,32.0,0.313,12.0,18.0,0.667,17.0,...,37.1,214.0,113.0,NOP,129,1,2024,2024-03-01,False,14.0
22205,48.0,86.0,0.558,15.0,32.0,0.469,18.0,26.0,0.692,11.0,...,33.3,165.0,137.0,IND,102,0,2024,2024-03-01,True,15.0
22206,33.0,83.0,0.398,18.0,41.0,0.439,26.0,30.0,0.867,12.0,...,28.8,143.0,127.0,DET,100,1,2024,2024-03-01,True,16.0
22207,33.0,89.0,0.371,10.0,36.0,0.278,24.0,28.0,0.857,9.0,...,32.6,144.0,112.0,CLE,110,0,2024,2024-03-01,False,17.0

In [7]:
updated_df

,Unnamed: 0,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,0,240.0,240.0,42.0,87.0,0.483,14.0,35.0,0.400,22.0,...,15.7,33.0,173.0,133.0,MIA,126,1,2024,2024-03-02,False
1,1,240.0,240.0,46.0,88.0,0.523,13.0,34.0,0.382,21.0,...,33.3,29.6,158.0,141.0,UTA,120,0,2024,2024-03-02,True
2,2,240.0,240.0,42.0,96.0,0.438,16.0,42.0,0.381,18.0,...,27.6,39.2,147.0,123.0,PHO,109,1,2024,2024-03-02,True
3,3,240.0,240.0,39.0,85.0,0.459,9.0,29.0,0.310,22.0,...,50.0,42.2,169.0,109.0,HOU,118,0,2024,2024-03-02,False
4,4,240.0,240.0,54.0,92.0,0.587,11.0,26.0,0.423,5.0,...,25.0,30.6,146.0,140.0,LAL,114,1,2024,2024-03-02,True
5,5,240.0,240.0,47.0,89.0,0.528,12.0,29.0,0.414,8.0,...,40.0,33.9,212.0,129.0,DEN,124,0,2024,2024-03-02,False
6,6,240.0,240.0,37.0,87.0,0.425,11.0,34.0,0.324,17.0,...,16.8,34.9,200.0,121.0,BRK,114,1,2024,2024-03-02,False
7,7,240.0,240.0,41.0,88.0,0.466,15.0,32.0,0.469,17.0,...,22.4,29.1,230.0,131.0,ATL,102,0,2024,2024-03-02,True
8,8,265.0,265.0,39.0,92.0,0.424,11.0,35.0,0.314,18.0,...,30.4,33.2,156.0,107.0,MEM,100,1,2024,2024-03-02,True
9,9,265.0,265.0,30.0,83.0,0.361,15.0,40.0,0.375,25.0,...,36.8,39.9,126.0,103.0,POR,107,0,2024,2024-03-02,False

In [8]:
nba_updated_games = pd.concat([historical_df, updated_df], ignore_index=True)

In [9]:
nba_updated_games

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,total_opp,home_opp,season,date,won,Unnamed: 0,mp,mp.1,mp_opp,mp_opp.1
0,38.0,72.0,0.528,16.0,37.0,0.432,18.0,21.0,0.857,4.0,...,107,1,2023,2022-11-07,True,NaN,NaN,NaN,NaN,NaN
1,40.0,84.0,0.476,14.0,39.0,0.359,13.0,15.0,0.867,5.0,...,110,0,2023,2022-11-07,False,NaN,NaN,NaN,NaN,NaN
2,41.0,78.0,0.526,8.0,24.0,0.333,15.0,19.0,0.789,5.0,...,90,1,2023,2022-12-14,True,NaN,NaN,NaN,NaN,NaN
3,29.0,74.0,0.392,13.0,38.0,0.342,19.0,26.0,0.731,6.0,...,105,0,2023,2022-12-14,False,NaN,NaN,NaN,NaN,NaN
4,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,0.778,6.0,...,95,1,2016,2015-12-09,True,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22213,47.0,89.0,0.528,12.0,29.0,0.414,8.0,11.0,0.727,6.0,...,124,0,2024,2024-03-02,False,5.0,240.0,240.0,240.0,240.0
22214,37.0,87.0,0.425,11.0,34.0,0.324,17.0,23.0,0.739,12.0,...,114,1,2024,2024-03-02,False,6.0,240.0,240.0,240.0,240.0
22215,41.0,88.0,0.466,15.0,32.0,0.469,17.0,22.0,0.773,12.0,...,102,0,2024,2024-03-02,True,7.0,240.0,240.0,240.0,240.0
22216,39.0,92.0,0.424,11.0,35.0,0.314,18.0,24.0,0.750,13.0,...,100,1,2024,2024-03-02,True,8.0,265.0,265.0,265.0,265.0
22217,30.0,83.0,0.361,15.0,40.0,0.375,25.0,33.0,0.758,9.0,...,107,0,2024,2024-03-02,False,9.0,265.0,265.0,265.0,265.0

In [10]:
nba_updated_games.to_csv('nba_updated_games.csv')