In [1]:
import pandas as pd

In [2]:
historical_df = pd.read_csv('nba_updated_games.csv')

In [3]:
updated_df = pd.read_csv('updated_nba_boxscores.csv')

In [4]:
historical_df

,Unnamed: 0.8,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,mp,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,240.0,...,26.2,26.8,155.0,123.0,MIA,107,1,2023,2022-11-07,True
1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,240.0,...,41.0,37.3,160.0,121.0,POR,110,0,2023,2022-11-07,False
2,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,240.0,...,28.6,41.1,250.0,125.0,DAL,90,1,2023,2022-12-14,True
3,3,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3,240.0,...,12.6,33.0,183.0,110.0,CLE,105,0,2023,2022-12-14,False
4,4,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4,240.0,...,22.8,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22157,22157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,240.0,...,50.0,24.9,247.0,138.0,CHO,85,0,2024,2024-02-27,True
22158,22158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,240.0,...,50.0,31.5,166.0,96.0,ORL,108,1,2024,2024-02-27,False
22159,22159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,240.0,...,60.0,58.4,206.0,121.0,BRK,81,0,2024,2024-02-27,True
22160,22160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,240.0,...,25.2,31.2,163.0,105.0,ATL,124,1,2024,2024-02-27,False
22161,22161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,240.0,...,37.2,32.6,145.0,129.0,UTA,97,0,2024,2024-02-27,True

In [5]:
updated_df

,Unnamed: 0,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,0,240.0,240.0,42.0,90.0,0.467,11.0,29.0,0.379,19.0,...,17.5,26.8,173.0,122.0,IND,123,1,2024,2024-02-28,False
1,1,240.0,240.0,50.0,102.0,0.490,14.0,38.0,0.368,9.0,...,100.0,40.8,136.0,132.0,NOP,114,0,2024,2024-02-28,True
2,2,240.0,240.0,47.0,86.0,0.547,14.0,36.0,0.389,8.0,...,100.0,27.8,169.0,125.0,LAC,112,1,2024,2024-02-28,True
3,3,240.0,240.0,45.0,89.0,0.506,10.0,37.0,0.270,12.0,...,33.3,30.1,145.0,124.0,LAL,116,0,2024,2024-02-28,False
4,4,240.0,240.0,36.0,93.0,0.387,11.0,37.0,0.297,18.0,...,34.2,34.4,152.0,119.0,MIN,110,1,2024,2024-02-28,False
5,5,240.0,240.0,39.0,79.0,0.494,14.0,35.0,0.400,18.0,...,33.3,32.1,139.0,124.0,MEM,101,0,2024,2024-02-28,True
6,6,290.0,290.0,45.0,104.0,0.433,22.0,54.0,0.407,11.0,...,29.1,29.1,150.0,113.0,CHI,132,1,2024,2024-02-28,False
7,7,290.0,290.0,44.0,110.0,0.400,13.0,37.0,0.351,31.0,...,23.7,25.1,176.0,122.0,CLE,123,0,2024,2024-02-28,True
8,8,240.0,240.0,38.0,95.0,0.400,12.0,35.0,0.343,8.0,...,50.0,46.9,300.0,111.0,DEN,117,1,2024,2024-02-28,False
9,9,240.0,240.0,46.0,86.0,0.535,15.0,35.0,0.429,10.0,...,33.8,29.0,130.0,127.0,SAC,96,0,2024,2024-02-28,True
10,10,240.0,240.0,52.0,96.0,0.542,15.0,43.0,0.349,17.0,...,50.0,30.5,143.0,135.0,TOR,125,1,2024,2024-02-28,True
11,11,240.0,240.0,46.0,98.0,0.469,13.0,35.0,0.371,20.0,...,35.0,61.9,208.0,126.0,DAL,136,0,2024,2024-02-28,False

In [6]:
nba_updated_games = pd.concat([historical_df, updated_df], ignore_index=True)

In [7]:
nba_updated_games

,Unnamed: 0.8,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,mp,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,240.0,...,26.2,26.8,155.0,123.0,MIA,107,1,2023,2022-11-07,True
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,240.0,...,41.0,37.3,160.0,121.0,POR,110,0,2023,2022-11-07,False
2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2,240.0,...,28.6,41.1,250.0,125.0,DAL,90,1,2023,2022-12-14,True
3,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3,240.0,...,12.6,33.0,183.0,110.0,CLE,105,0,2023,2022-12-14,False
4,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4,240.0,...,22.8,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,290.0,...,23.7,25.1,176.0,122.0,CLE,123,0,2024,2024-02-28,True
22170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,240.0,...,50.0,46.9,300.0,111.0,DEN,117,1,2024,2024-02-28,False
22171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,240.0,...,33.8,29.0,130.0,127.0,SAC,96,0,2024,2024-02-28,True
22172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,240.0,...,50.0,30.5,143.0,135.0,TOR,125,1,2024,2024-02-28,True
22173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,240.0,...,35.0,61.9,208.0,126.0,DAL,136,0,2024,2024-02-28,False

In [8]:
nba_updated_games.to_csv('nba_updated_games.csv')